.container-details{
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.container-card{
    max-width: 1200px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    padding: 150px  ;
    gap: 140px;
}

.blue{
    background-color: #7fffd4;
    width: 300px;
    height: 200px;
}

.orange{
    background-color:orangered;
    width: 300px;
    height: 200px;
}

.green{
    background-color:#4bef4b;
    width: 300px;
    height: 200px;
}

.font{
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
}

.btn-fill{
    width: 285px;
    height: 185px;
    margin: 6px 6px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 12px 40px;
    background-color: #7fffd4;
    border: 2px solid #fff;
    color: #fff;
}

.btn-orange{
    background-color: #ff4500; 
}

.btn-green{
    background-color: #189e18;
}
 

